body {
    margin: 0;
    text-align: center;
    background-color: black;
}

h1 {
    padding-top: 10%;
    font-size: 60px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

h3 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.colore {
    border: solid 1px black;
    height: 40px;
    width: 40px;
    margin-right: 30px;
    border-radius: 30px;
}

#color1 {
    background-color: aqua;
}

#color2 {
    background-color: #66C3FF;
}

#color3 {
    background-color: #FFB997;
}

#color4 {
    background-color: #DB6C79;
}

#color5 {
    background-color: #F28123;
}

#color6 {
    background-color: #e7bb41;
}

#contenitore {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a {
    display: none;
}